ticket_manager/.web-server-pid
ticket_manager/app/config/parameters.yml
ticket_manager/build/
ticket_manager/phpunit.xml
ticket_manager/var/*
!ticket_manager/var/cache
ticket_manager/var/cache/*
!ticket_manager/var/cache/.gitkeep
!ticket_manager/var/logs
ticket_manager/var/logs/*
!ticket_manager/var/logs/.gitkeep
!ticket_manager/var/sessions
ticket_manager/var/sessions/*
!ticket_manager/var/sessions/.gitkeep
!ticket_manager/var/SymfonyRequirements.php
ticket_manager/vendor/
ticket_manager/web/bundles/
ticket_manager/node_modules/
